.chatbox{
    position: relative;
    border: 4px solid #ccc;
    width: 100%;
    height: 100%;
    background-image: url(./../../Assets/Background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}