.statusSideShow{
    display: flex;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.statusSideShow:active,.statusSideShow:hover{
    background-color: rgba(219, 209, 209, 0.6);
}

.statusSideShow img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.detials{
    align-self: center;
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
}

.detials p{
    align-self: flex-start;
}

.heading{
    font-size: 1.35rem;
    font-weight: 700;
}

