.layout{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80px calc(100% - 80px);
    grid-template-columns: minmax(200px,400px) 1fr;
    grid-gap: 2px;
    overflow: hidden;
}

.main{
    grid-row: 2/3;
    grid-column: 2/3;
}