.layout{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: minmax(200px,400px) 1fr;
    grid-gap: 2px;
}

.main{
    grid-row: 2/3;
    grid-column: 2/3;
}