.userDetials{
    padding: 10px 5px;
    display: flex;
    align-content: center;
}

.image{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.icons{
    align-self: center;
    display: flex;
    align-content: center;
}

.icons div{
    margin: 4px;
    padding: 2px;
    color: lightgreen;
    cursor: pointer;
}

.icons div:hover{
    color: darkgreen;
}

.userDetials p{
    cursor: no-drop;
    align-self: center;
    color: black;
    margin-right: auto;
    padding: 8px;
    font-size: 13px;
    text-transform: uppercase;
}